body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffefe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height:100vh;
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;

}

a{
  text-decoration: none;
}
.main_app{
  display: flex;
}
@media (max-width: 500px) {
  .main_app{
    flex-direction: column;
  }
}

main {
  text-align:center;
  margin : 0 auto;
}
 

h1, h2{
  font-size:3rem;
  color: black;
}

@media (max-width: 1200px) {
    h1, h2{
    font-size: 2rem;
    }
}

a{
  border:none;
  color: black;
  display:inline-block;
  text-align:center;
  width:300px;
  padding: 10px 20px;
  margin: 50px;
  color: #fff;
  background-color: rgb(12, 147, 102);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.confirmationModal{
  width: 600px;
  /* border: 3px solid  rgb(12, 147, 102); */
  background-color:   rgb(151,218,133);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  padding: 20px 20px 20px 20px;
}

.btn_closeModal{
  align-self: flex-end;
  background-color:  rgb(12, 147, 102);
  border: none;
  color: #fff;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.btn_closeModal_icon{
  width: 30px;
  height: 30px;
}

@media (max-width: 1200px) {
  a{
  font-size: 1.2rem;
  }

  .confirmationModal{
    width: 400px;
  }
}

@media (max-width: 550px) {
  a{
  font-size: 1.2rem;
  }

  .confirmationModal{
    width: 90%;
  }
}
/* 
form{
  background: #ecf0f3;
} */

.containerNewEmployee{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

  /* background: #f9fbfd; */
}

/* .main_newEmployee{
  background-color: rgb(164, 247, 219);
} */


.titleNewEmployee{
  margin-top: 20px;
  margin-bottom: 0;
}

.linkNewEmployee{
  margin-top: 20px;
  margin-bottom: 30px;
}

form{
  padding: 0 20px 20px 20px;
}

form input, form select {
  margin: 10px;
}

select{
  height: 30px;
}

.btnFormSave{
  text-align:center;
  width:300px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(12, 147, 102);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  border: none;
  font-size: 1.2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  margin: 30px auto;
}

/* Style pour l'en-tête */
thead {
  font-weight: bold;
}

/* Style pour les cellules de l'en-tête */
th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #1b1818;
  background-color: #97da85;
}

/* Style pour les cellules du corps */
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
 
}


/* td:first-child {
  border-top: 1px solid #ddd;
}

/* Style pour la dernière cellule du corps */
/* td:last-child {
  border-bottom: 1px solid #181414;
} */ */

/* Style pour la première ligne */
tbody tr:first-child td {
  border-top: 1px solid #090808;
}

/* Style pour la dernière ligne */
tbody tr:last-child td {
  border-bottom: 1px solid #171313;
}

/* Style pour les lignes impaires */
tr:nth-child(even) {
  background-color: #faf0f0;
}

tr:nth-child(odd) {
  background-color: #ddf7d6;
}

input::placeholder {
  color: gray;
}

input{
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  border: none;
  height: 30px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  outline:1px solid rgb(220, 239, 232);
}

.linkListEmployee{
  width: auto;
}

.title_newEmployee{
  font-size: 1.3rem;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:0;
  margin-bottom:0;
}